import all the library

In [1]:
#importing all the libraries
import pandas as pd
import numpy as np
import ast

loading all the files and converting them in to pandas dataframe the data set is downloaded from https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset

In [2]:
credits=pd.read_csv('data/credits.csv')
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:

keywords=pd.read_csv('data/keywords.csv')
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [4]:
movies_metadata=pd.read_csv('data/movies_metadata.csv',dtype='unicode')
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [5]:
#merge 2 dataframe
df=pd.merge(credits,keywords,on='id')
#print(df.shape())
df.head()

,cast,crew,id,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [6]:
movies_metadata.dtypes

adult                    object
belongs_to_collection    object
budget                   object
genres                   object
homepage                 object
id                       object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity               object
poster_path              object
production_companies     object
production_countries     object
release_date             object
revenue                  object
runtime                  object
spoken_languages         object
status                   object
tagline                  object
title                    object
video                    object
vote_average             object
vote_count               object
dtype: object

In [7]:
movies_metadata['id']=pd.to_numeric(movies_metadata['id'],errors='coerce')
df=pd.merge(df,movies_metadata,on='id')
df.describe()

                  id
count   46628.000000
mean   109678.820837
std    112908.126984
min         2.000000
25%     26760.250000
50%     61299.000000
75%    159624.000000
max    469172.000000

In [8]:
#the things we are going to keep are:

#id
#original_title
#title
#genres
#keywords
#cast
#crew
#overview
#imdb_id
#vote_average

In [9]:
#taking the rows from the document
new_df=df[['id','original_title','title','genres', 'keywords','cast', 'crew', 'overview', 'imdb_id','vote_average']]

In [10]:
# from the columns taking only names 
def take_tag(data):
    y=[]
    for i in ast.literal_eval(data):
        y.append(i['name'])
    return y

In [11]:

new_df['genres']=new_df['genres'].apply(take_tag)
new_df['keywords']=new_df['keywords'].apply(take_tag)
new_df['cast']=new_df['cast'].apply(take_tag)

/tmp/ipykernel_16940/2718541058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['genres']=new_df['genres'].apply(take_tag)
/tmp/ipykernel_16940/2718541058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['keywords']=new_df['keywords'].apply(take_tag)
/tmp/ipykernel_16940/2718541058.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['cast']=new_df['cast'].apply(take_tag)

In [12]:
#removes space from string
def remove_spaces(data):
    y=[]
    for i in data:
        y.append(i.replace(" ","").lower())
    return y

In [13]:
new_df['genres']=new_df['genres'].apply(remove_spaces)
new_df['keywords']=new_df['keywords'].apply(remove_spaces)
new_df['cast']=new_df['cast'].apply(remove_spaces)

/tmp/ipykernel_16940/331242278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['genres']=new_df['genres'].apply(remove_spaces)
/tmp/ipykernel_16940/331242278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['keywords']=new_df['keywords'].apply(remove_spaces)
/tmp/ipykernel_16940/331242278.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['cast']=new_df['cast'].apply(remove_spaces)

In [14]:
#deleting all the movies which dosent have overview
new_df=new_df.drop(new_df[new_df['overview'].isnull()].index)

new_df['overview']=new_df['overview'].apply(lambda x:x.split())

In [15]:
#convering string to list and saving in different column to add it to tag
new_df=new_df.drop(new_df[new_df['title'].isnull()].index)
new_df['title1']=new_df['title'].apply(lambda x:x.split())

In [16]:
#creating data frame containg only 3 rows ie: id,title,tag
movies=new_df[['id','title']]
movies['tag']=new_df['keywords']+new_df['cast']+new_df['overview']+new_df['title1']
movies['tag']=movies['tag'].apply(lambda x:' '.join(x))

/tmp/ipykernel_16940/3058400031.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=new_df['keywords']+new_df['cast']+new_df['overview']+new_df['title1']
/tmp/ipykernel_16940/3058400031.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=movies['tag'].apply(lambda x:' '.join(x))

In [17]:
#creating data frame containg only 3 rows ie: id,title,tag
movies=new_df[['id','title']]
movies['tag']=new_df['keywords']+new_df['cast']+new_df['overview']+new_df['title1']
movies['tag']=movies['tag'].apply(lambda x:' '.join(x))

/tmp/ipykernel_16940/3058400031.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=new_df['keywords']+new_df['cast']+new_df['overview']+new_df['title1']
/tmp/ipykernel_16940/3058400031.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=movies['tag'].apply(lambda x:' '.join(x))

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
CV=CountVectorizer(max_features=5000,stop_words='english')

In [19]:
#using count vector counting the times each word is present
vector = CV.fit_transform(movies.tag).toarray()
CV.get_feature_names_out()

array(['000', '10', '100', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [20]:
#installing nltk
#pip install nltk

In [21]:
# using PorterStemmer to convert synonym into same word
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [22]:
# convert synonym into same word
def steamer(data):

    y=[]
    for i in data.split():
        y.append(ps.stem(i))
    return " ".join(y)


movies['tag']=movies['tag'].apply(steamer)

/tmp/ipykernel_16940/2505193716.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=movies['tag'].apply(steamer)

In [23]:
# again count vector counting the times each word is present
vector = CV.fit_transform(movies.tag).toarray()

In [24]:
#finding how different is each movie from each other movie highest is 1 and least is 0
from sklearn.metrics.pairwise import cosine_similarity
simalarity=cosine_similarity(vector)
#simalarity=np.round(simalarity, 4)

:

:

In [ ]:
#function to recomend 5 movies which are most similar to the movie
def recomender(data):
    x=[]
    j=movies[movies['title']==data].index[0]
    z=sorted(list(enumerate(simalarity[j])),reverse=True,key = lambda x: x[1])
    y=z[:6]
    print(j)
    for i in y:
        print(movies.iloc[i[0]].title)

recomender('Unforgettable')